.main-header {
    justify-content: space-between;
    background-color: black;
    padding: 10px;
}

.cart span {
    margin: 10px 20px;
    cursor: pointer;
    color: #fff;
}

.cart {
    display: flex;
}
.scart:hover{
    
    text-shadow: 3px 3px 5px lightblue;
}
.locate:hover{
    text-shadow: 3px 3px 5px lightblue;
}
.user:hover{
    text-shadow: 3px 3px 5px lightblue;
}

#search {
    width: 50vw;
}

.menu {
    position: absolute;
    right: 19px;
    top: 140px;
    cursor: context-menu;
    background: lightsteelblue ;


}

ul {
    list-style-type: none;
    color: black;
    padding: 15px;
    margin: 0 15px;

}

.logo img{
    width: 100px;
     
}
.pin-box{
    padding: 4px;
    margin-top: 15px;
    width: 65%;
}


