
.main-header{
    justify-content: space-between;
}

.cart span {
    margin: 10px 20px;
    cursor: pointer;
}

.cart {
    display: flex;
}

#search {
    width: 50vw;
}
.menu{
    position: absolute;
    right: 15px;
    top: 55px;

}